header.dark {
    background-color: var(--ash-400);
}

nav.dark {
    color: var(--ash-100);
}

header ul li a.dark {
    color: var(--ash-100);
}

header ul li a.dark:hover {
    background-color: var(--ash-500);
}